@font-face {
  font-family: "icons-turn-arrow";
  src: url("../../fonts/icons/turn-arrow.eot") format("embedded-opentype"),
  url("../../fonts/icons/turn-arrow.woff") format("woff"),
  url("../../fonts/icons/turn-arrow.ttf") format("truetype"),
  url("../../fonts/icons/turn-arrow.svg") format("svg");
}

.controller-unit {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-color: #aaa;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  transform: scale(.5);
  transition: transform .6s ease-in-out, background-color .3s;

  &.is-center {
    background-color: #888;
    transform: scale(1);

    &::after {
      font-family: "icons-turn-arrow";
      font-size: 80%;
      color: #fff;
      line-height: 30px;
      content: "\e600";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    } 

    &.is-inverse {
      background-color: #555;
      transform: rotateY(180deg);
    }
  }
}